extends layout 

block content 
  
  .row 
    .col 
      .container-fluid.d-flex.flex-row.justify-content-center.pt-5
        div 
          img(src="/images/placeholder_image.jpg", alt="placeholder image")
        div.p-3 
          form(action="", method="POST") 
            p.text-muted console  
            div.input-group.p-1
              input.form-control(
                type="text", 
                placeholder="Console name",
                name="name"
                required
                value= gameConsole===undefined ? "" : gameConsole.name
              )
            div.input-group.flex-nowrap.p-1
              span.text-muted.input-group-text#addon-wrapping by 
              input.form-control(
                type="text",
                placeholder="Manufacturer", 
                name="manufacturer",
                required
                value= gameConsole===undefined ? "" : gameConsole.manufacturer
                )
            hr
            div.input-group.p-1
              span.input-group-text#addon-wrapping $
              input.form-control(
                type="number", 
                placeholder="Price",
                step=".01"
                name="price",
                required, 
                value= gameConsole===undefined ? "" : gameConsole.price
                )
            div.input-group.p-1
              textarea.form-control(
                name="description", 
                cols="30", 
                rows="10", 
                required,
              )
                if gameConsole!==undefined
                  =gameConsole.description
            div.input-group.p-1
              span.input-group-text In Stock: 
              input.form-control(
                type="number", 
                name="stock", 
                required, 
                value= gameConsole===undefined ? "" : gameConsole.stock
              )

            .d-flex.flew-row
              button.btn.btn-dark.m-1(type="submit") Submit
              a.btn.btn-danger.m-1(href="/gameConsoles") Cancel 