extends layout 

block content 
  
  .row 
    .col 
      .container-fluid.d-flex.flex-row.justify-content-center.pt-5
        div 
          img(src="/images/placeholder_image.jpg", alt="placeholder image")
        div.p-3 
          p.text-muted console 
          h1= gameConsole.name
          p.text-muted by #{gameConsole.manufacturer}
          hr
          h1 $#{gameConsole.price}
          p= gameConsole.description 
          p In Stock: #{gameConsole.stock}

          .d-flex.flew-row
            a.btn.btn-dark.m-1(href=gameConsole.url + "/update") Update 
            a.btn.btn-danger.m-1(href=gameConsole.url + "/delete") Delete 