extends layout 

block content 
  
  .row 
    .col 
      .w-100.d-flex.flex-row.justify-content-center.pt-5
        //- form container
        .w-100
          form.d-flex.flex-row.flex-no-wrap.gap-2(
            action="", 
            method="POST",
            enctype="multipart/form-data"
            ) 
            .w-50.flex-shrink-1.p-1
             .h-100.w-100.input-group.d-flex.align-items-center.justify-content-center
                if gameConsole && gameConsole.hasImage
                  //- Render the image with a "remove" button.
                  img(src=gameConsole.img_path, alt="Console image", class="img-fluid" id="model-image")
                  button#remove-image.btn.btn-primary.w-50.rounded(type="button") Remove
                  input.form-control(
                    type="file",
                    name="model-image",
                    id="image-input",
                    hidden
                  )
                else
                  input.form-control(type="file", name="model-image")
            .w-50.flex-shrink-1.p-5
              p.text-muted Console  
              div.input-group.p-1
                input.form-control(
                  type="text", 
                  placeholder="Console name",
                  name="name"
                  required
                  value= gameConsole===undefined ? "" : gameConsole.name
                )
              div.input-group.flex-nowrap.p-1
                span.text-muted.input-group-text#addon-wrapping by 
                input.form-control(
                  type="text",
                  placeholder="Manufacturer", 
                  name="manufacturer",
                  required
                  value= gameConsole===undefined ? "" : gameConsole.manufacturer
                  )
              hr
              div.input-group.p-1
                span.input-group-text#addon-wrapping $
                input.form-control(
                  type="number", 
                  placeholder="Price",
                  step=".01"
                  name="price",
                  required, 
                  value= gameConsole===undefined ? "" : gameConsole.price
                  )
              div.input-group.p-1
                textarea.form-control(
                  name="description", 
                  cols="30", 
                  rows="10", 
                  required,
                )
                  if gameConsole!==undefined
                    =gameConsole.description
              div.input-group.p-1
                span.input-group-text In Stock: 
                input.form-control(
                  type="number", 
                  name="stock", 
                  required, 
                  value= gameConsole===undefined ? "" : gameConsole.stock
                )
              input(type="checkbox", name="delete-photo", hidden)
              .d-flex.flew-row
                button.btn.btn-dark.m-1(type="submit") Submit
                a.btn.btn-danger.m-1(href="/gameConsoles") Cancel

  //- Load script when the model has an image that can be deleted by the user.
  if gameConsole && gameConsole.hasImage
    script
      include ../public/javascripts/gameForm.js