mixin gameDisplay(game)
  .col-lg-3.p-2
    .d-flex.flex-row.justify-content-center
      .card.p-1
        .card-body.d-flex.flex-column
          img(src=game.img_path, alt="Game photo")
          p.m-0.text-muted= game.console.name
          p.m-0 #[strong #{game.title}]
          p.m-0= game.price
        a.btn.btn-primary(href=game.url) View